body {
    font-family: 'Alegreya', serif; 
    font-size: 2em;
    background-color: #83f097;
    text-align: center;
  }


  Ce que je n'arrive pas à faire

  - supprimer ligne sous text acceuil, horaire ....
  - voir ma photo 
  - déplacer au centre bouton téléchargement
  - séparer aux extremités les éléments du footer